.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button {
  background: turquoise;
  color: #fff;
  border: 1px solid turquoise;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.form-actions button:hover {
  background: darkturquoise;
  border: 1px solid darkturquoise;
}
